@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Transparent Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Keeps it minimal */
}

::-webkit-scrollbar-track {
  background: transparent; /* Fully transparent track */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* Subtle white for visibility */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4); /* Slightly more visible on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  
}

body{
  background-color: #0c131a;
}




/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } 

  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  
  }
  .heading img{
    width: 30px;
    height: 30px;
  }
  .heading p{
    font-size: 28px;
    font-weight: 600;
  }
  .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
  }
   */